.attribution {
    font-size: 11px;
     text-align: center;
     color: hsl(228, 45%, 44%);
    }
.attribution a {
        
    }

body {
    background-color: hsl(0, 0%, 100%);
}

h1 {
    color: hsl(300, 43%, 22%);
    font-size: 60px;
}
.top {
    display: flex;
    flex-wrap: wrap;
    margin: 10%;
}
.heading {
    min-width: 200px;
    max-width: 525px;
}
.head {
    font-size: 60px;
    color: hwb(300 13% 69%);
    font-weight: 700;
}
.subhead {
    margin-top: 25px;
    font-size: 15px;
    color: hsl(303, 10%, 53%);
    line-height: 1.5;
    letter-spacing: .5px;
    font-weight: 400;
    }
.reviews {
    
    display: flex;
    margin-left:auto;
    flex-direction: column;
    row-gap: 40px;
    max-width: 45%;
    min-width: 200px;
}
.review1, .review2, .review3 {
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    font-weight: bold;
    padding-left: 25px;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    width: 1 0 300px;
    justify-content: center;
    font-weight: 700;
}
.review1 {
    margin-right: 100px;
}
.review2 {
    margin-right: 50px;
    margin-left: 50px;
}
.review3 {
    margin-left: 100px;
    margin-right: 0;
}
@media (max-width: 1200px) {
    .head {
        font-size: 50px;
        line-height: .9;
    }
    .top {
        margin: 5%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .reviews{
        width: 90%;
        justify-content: center;
        margin-top: 10%;
        margin-left:0;
        align-items: center;
        margin-bottom: 10%;
    }
    .review1, .review2, .review3 {
        margin: 0;
    }
    .testimonial1, .testimonial2, .testimonial3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
.text {
    width: 250px;
}
.bottom {
    margin: 9%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
.testimonial1, .testimonial2, .testimonial3 {
    background-color: hsl(300, 43%, 22%);
    padding: 25px;
    width: 27%;
    min-width: 280px;
    border-radius: 10px;
}

.profile {
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.profile-pic img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.quote, .profile-name{
    color: hsl(300, 24%, 96%);
}

.quote {
    margin-left: 10px;
    margin-bottom: 15px;
    margin-right: 10px;
    line-height: 1.5;
    letter-spacing:.5px;
}
.profile-name {
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.profile-verified {
    color: hsl(333, 80%, 67%);
    display: flex;
    flex-wrap: nowrap; 

}
.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    min-width: 150px;
}
.testimonial1 {
    margin-top: -20px;
    margin-bottom: 40px;
}

.testimonial2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.testimonial3 {
    margin-top: 20px;
    margin-bottom: 0px;
}
.quote {
    font-weight:500;
}

@font-face {
    font-family: league spartan;
    src: url(https://fonts.google.com/specimen/League+Spartan);

}
